<<<<<<< HEAD
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
=======
body{
  background-color:rgb(236, 236, 236);
}

.container{
  margin:auto;
  text-align:center;
  width:62vw;
  min-height:96vh;
  h1{
    color:rgb(129, 47, 197);
  }
>>>>>>> d2b71f446b3a27989ceda4a1b3c0e5155298fdb2
}
