.card{
  background: white;
  width:49vw;
  margin: auto;
  text-align:center;
  border-radius: 8px;
  height:auto;
  min-height:23vh;
  text-align:center;
  margin-top: 12px;
  padding:12px;

  .card-body{
    width:40vw;
    margin:auto;
    text-align:center;
    .card-body-description{
      font-size:18px;
      font-weight:400;
      
    }
  }
  .icon-actions{
    display:flex;
    justify-content: space-around;
    line-height:.2;
    padding-top:5px;
    .icon{
      cursor:pointer;
      .icon-action{
        color:blueviolet;
      }
    }

  }
}